<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zongke.downloadservice">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.zongke.downloadservice.service.DownLoadService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.zongke.downloadservice.service.DownLoadService"></action>
            </intent-filter>
        </service>

        <provider
            android:authorities="com.zongke.downloadservice.db.sqlite.DownloadTaskProvider"
            android:exported="true"
            android:enabled="true"
            android:name="com.zongke.downloadservice.db.sqlite.DownloadTaskProvider">

        </provider>

    </application>

</manifest>
